@import "tailwindcss";

.bg-custom-gradient {
    background: #72C6EF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004E8F, #72C6EF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004E8F, #72C6EF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}